<div style="background-color:#F2E5D7; border-radius:10px; margin:20px">
  {{#each this}}
  <section style="height:70px; margin:5px; background-color:#E4FDE1; border-radius:10px; box-shadow:5px 5px 5px lightblue;">
    <div style="font-weight:bolder; font-size:large;">
      {{user.username}} on {{format_date created_at}}
    </div>
    <div class="text">
      {{text}}
    </div>
  </section>
  {{/each}}
</div>