<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech And Such</title>
</head>

<body style="background-color:antiquewhite">
  <div>
    <header style="display:flex; align-items:center; background-color:#FFBCB5; border-radius:10px">
      <h2 style="width:20%; padding-left:100px">
        <a style="text-decoration:none; color:black" href="/">Tech And Such</a>
      </h2>
      <nav style="width:80%">
        {{#if loggedIn}}
        <a style="text-decoration:none; padding:40px; color:black" href="/dash">dashboard</a>
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a style="text-decoration:none; padding:40px; color:black" href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer style="text-align:center">
      Thanks for visiting!
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>