<section style="background-color:#F2E5D7; border-radius:10px; margin:20px">
  <h2 style="text-align:center">Create New Post</h2>

  <form style="display:flex; align-items:center; justify-content:center" class="new-post-form">
    <div style="margin:10px;">
      <input type="text" id="post-title" name="post-title" placeholder="Title" />
    </div>
    <div style="margin:10px;">
      <input id="post-url" name="post-url" placeholder="Link" />
    </div>
    <div style="margin:10px;">
      <textarea id="post-text" name="post-text" placeholder="Thoughts"></textarea>
    </div>
    <button type="submit">Create</button>
  </form>
</section>

{{#if posts.length}}
<section style="background-color:#F2E5D7; border-radius:10px; margin:20px">
  <h2 style="padding:10px; text-align:center">Your Posts</h2>
  <ul style="list-style:none; padding:10px">
    {{#each posts as |post|}}
    <li style="display:flex; align-items:center; height:70px; margin:5px; background-color:#E4FDE1; border-radius:10px; box-shadow:5px 5px 5px lightblue;">
      {{> post-info-many post}}
      <a style="text-decoration:none; color:black; font-weight:bolder" href="/dash/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>