<ul style="list-style:none">
  {{#each posts as |post|}}
  <li style="height:70px; margin:5px; background-color:#E4FDE1; border-radius:10px; box-shadow:5px 5px 5px lightblue;">
    {{> post-info-many post }}
  </li>
  {{/each}}
</ul>